* {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
}


.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 69px;
    border-bottom: 1px solid seashell;
}

#logo{
    margin-left: 10px;
    height: 50px;
}

.header li{
    display: inline;
    text-decoration: underline;
    padding: 0px 10px;
}



